<div class="card mb-4">
    <div class="card-body">
           <h5 class="card-title">
               <a href="{{ path('front.show', {slug: projet.slug, id: projet.id})}}">
               {{ projet.nom }}
               </a>
                </h5>
               <p class="card-text"> {{ projet.travaux }}></p>
               <div class="text-primary" style="font-size:2rem; font_weight: bold;">
                   {{ projet.budget}} euros
                   </div>
               </div>
               </div>
              
               


