{% extends 'baseAdmin.html.twig' %}

{% block title 'Gerer les Projets' %}

{% block body %}
<div class='container mt-4'>



<div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col text-center mb-4">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Espace Utilisateur</h6>
                    <h3 class="mb-4">Bienvenue dans votre espace utilisateur {{ app.user.prenom}} {{ app.user.nom}} vous pouvez dès à présent profiter de votre espace</h3>
                </div>
            </div>

            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Voir et/ou modifier mes projets</td>
                        <td>
                             <a href="{{ path ('admin.monprojet') }}" class="btn btn-primary" style="margin-bottom: 20px" >Mes projets</a>
                        </td></tr>
                        <tr>
 <td>Voir et/ou modifier mon profil</td>
                        <td>
 <a href="{{ path ('admin.monprofil' )  }}" class="btn btn-primary" style="margin-bottom: 20px" >Mon profil</a>
                   </td> </tr>
        </table>


    </div>
    </div>
    </div>
{% endblock %}
